* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    min-width: 100%;
    max-width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

/*fonts*/

.coda {
    font-family: "Coda", cursive;
}

.arima {
    font-family: "Arima Madurai", cursive;
}

.sun {
    font-family: "Waiting for the Sunrise", cursive;
}

/*MOBILE FIRST*/

header {
    display: flex;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid #E7717D;
    color: #E7717D;

    grid-area: header;
    justify-content: space-between;
    align-items: center;
}

#logo {
    float: left;
    margin-top: auto;
    padding: 0.1em;
}

#author {
    text-align: right;
}

#color-panel {
    display: flex;
    padding: 1em 0;
    text-align: center;

    grid-area: colors;
    justify-content: space-around;
}

#color-1,
#color-2,
#color-3 {
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 50px;
}

#color-1 {
    background-color: #E7717D;
}

#color-2 {
    background-color: #C2CAD0;
}

#color-3 {
    background-color: #AFD275;
}

#big-img {
    padding: 1em 0;

    grid-area: main;
}

#feat-work {
    padding: 1em 0;
    text-align: center;

    grid-area: work;
}

#feat-work-title {
    color: #C2CAD0;
    font-weight: 300;
}

.feat-items-wrap {
    display: flex;
    flex-direction: column;
}

.feat-item {
    margin: 2em 0;
    text-align: center;
}

.feat-item h2 {
    background-color: #AFD275;
    color: #FFF;
}

.git-link {
    color: #C2CAD0;
}

footer {
    padding: 1em 0;
    max-height: 100px;
    background-color: #E7717D;
    color: #FFF;
    text-align: center;

    grid-area: footer;
}

a {
    text-decoration: none;
    color: #FFF;
}

#social {
    font-size: 1.5em;
}

/*MEDIUM SCREENS*/

@media screen and (min-width: 550px) {

    body {
        margin-right: auto;
        margin-left: auto;
        max-width: 80vw;
    }

    .grid-container {
        display: grid;
        height: 100vh;

        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header header" "colors main" "work work" "footer footer";
    }

    #color-panel {
        padding-right: 2em;

        flex-flow: column;
    }

    .feat-items-wrap {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .feat-item {
        max-width: 48%;
    }
}

/*LARGE SCREENS*/

@media screen and (min-width: 1024px) {

    body {
        max-width: 1024px;
    }

    .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: ". header" "colors main" ". work" ". footer";
    }

    header {
        font-size: 1.5em;
    }

    #logo {
        margin-bottom: auto;
    }

    #color-panel {
        margin-bottom: auto;
        padding: 1em 2em;
    }

    #big-img {
        overflow: hidden;
        height: 400px;
    }

    #feat-work {
        margin-top: 2em;
    }

    #feat-work-title {
        font-size: 2em;
    }

    .feat-items-wrap {
        flex-flow: row nowrap;
    }

    .feat-item {
        max-width: 30%;
    }

    .feat-item img {
        min-height: 200px;
    }

    footer {
        margin-top: auto;
    }

}
